@using LAMS.Application.Interface


@inject IMenu menuSet
@{
    var currentUrl = ViewContext.HttpContext.Request.Path.ToString().ToLower();
    var menulist = await menuSet.getMenuAsync();
}

<div class="main-wrapper">
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="@(currentUrl =="/dashboard/dashboard/index" ? "active" : "")">
                        <a href="/Dashboard/Dashboard/Index"><img src="~/assets/img/icons/dashboard.svg" alt="img"><span> Dashboard</span> </a>
                    </li>
                    @foreach(var item in menulist)
                    {
                        var isParentActive = item.Children.Any(c => currentUrl.StartsWith(c.ActiveUrls.ToLower()));
                        var ischildActive = item.Children.Any(c => currentUrl.StartsWith(c.Urls.ToLower()));
                        var datal=isParentActive ? "active subdrop" : "";

                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/assets/img/icons/product.svg" alt="img"><span>@item.MenuName</span> <span class="menu-arrow"></span></a>
                            <ul style=" @(ischildActive ? "display: block;" : "display: none;")">
                                @if (item.Children.Any())
                                {
                                    foreach (var child in item.Children)
                                    {
                                        var isCurrentChildActive = currentUrl.Equals(child.Urls.ToLower(), StringComparison.OrdinalIgnoreCase);
                                        <li>
                                            <a href="@child.Urls" class="@(isCurrentChildActive ? "active" : "")">@child.MenuName</a>
                                        </li>
                                    }
                                }                                                            
                                
                            </ul>
                        </li>
                       
                    }


                   @*  <li>
                        <a href="components.html"><i data-feather="layers"></i><span> Components</span> </a>
                    </li>
                    <li>
                        <a href="blankpage.html"><i data-feather="file"></i><span> Blank Page</span> </a>
                    </li>
                     *@
                   
                </ul>
            </div>
        </div>
    </div>
</div>
